version: '3.8'

volumes:
  pg_data_production:
  static:

services:
  db:
    image: postgres:13
    restart: always
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    # image: backend:latest # dummy
    build: ./backend/
    restart: always
    env_file: .env
    volumes:
      - static:/app/static/
    depends_on:
      - db

 # here is the place for the nginx config
  nginx:
    # image: nginx:1.25
    build: ./nginx/
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - static:/static/
    depends_on:
      - backend